<div class="card mb-3" *ngIf="isLoading">
  <div class="card-body">
    <div class="ph-col-12">
      <div class="ph-row">
        <div class="ph-col-8 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-8 big"></div>
      </div>
      <div class="ph-row">
        <div class="ph-col-2 big"></div>
        <div class="ml-4 ph-col-4 big"></div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!isLoading" class="min-vh-100">
  <div class="card">
    <div class="card-body text-gray-600 px-4 py-3 card-body-title">
      <div class="row pt-3 pb-3">
        <div class="col-lg-9 mb-3">
          <div class="card-title">
            <h4>
              <span [translate]="'CourseOutline.Title'"></span>
            </h4>
          </div>

          <!--
          If there is an outline for the courseClass  data = CourseOutline.
          Else, data.courseClass = courseClass;
          So, the data object is always filled.
          The data.dateCreated property indicates wether the CourseOutline exists
          -->
          <div *ngIf="data.dateCreated; else elseBlock">
            <span [translate]="'CourseOutline.Found'"> </span>
            <div class="mt-3">
              <div> {{'CourseOutline.Creation' | translate}} {{data.dateCreated | date:'short'}} </div>
              <div> {{'CourseOutline.Modification' | translate}} {{data.dateModified | date:'short'}} </div>
            </div>
          </div>
          <ng-template #elseBlock>
            <span *ngIf="instructorIsSupervisor" [translate]="'CourseOutline.NotFoundAuthorized'"></span>
            <span *ngIf="!instructorIsSupervisor" [translate]="'CourseOutline.NotFoundUnauthorized'"></span>
          </ng-template>
        </div>

        <div class="no-gutters w-50 col-9 col-sm-6 col-md-4 col-lg-3">
          <div *ngIf="data.dateCreated; else buttonElse" class="col-lg-8">
            <button *ngIf="instructorIsSupervisor" type="button"
              class="btn btn-universis rounded btn-brand btn-block justify-content-center p-2 mt-4"
              [routerLink]="['../edit']">
              <span [translate]="'CourseOutline.Edit'"></span>
            </button>

            <div class="btn-group w-100 px-0" dropdown>
              <button id="download" type="button" dropdownToggle aria-controls="dropdown"
                [disabled]="!(courseOutlineReports && courseOutlineReports.length > 0)"
                class="btn btn-universis rounded responsive-width p-2 mt-2 d-none d-inline-flex justify-content-between align-items-center text-truncate">
                <i class="fa fa-chevron-circle-down fa-lg"></i>
                <span class="d-print-block align-self-center" [translate]="'CourseOutline.Print'"></span>
                <span></span>
              </button>
              <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="download">
                <ng-container *ngIf="courseOutlineReports && courseOutlineReports.length > 0">
                  <li *ngFor="let report of courseOutlineReports" class="dropdown-item"
                    (click)="printCourseOutline(report)">
                    <div>{{report.name}}</div>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>

          <ng-template #buttonElse>
            <div class="h-100 d-flex">
              <button *ngIf="instructorIsSupervisor" type="button"
                class="btn btn-universis rounded btn-brand btn-block align-self-center p-2 col-8"
                [routerLink]="['../edit']">
                <span [translate]="'CourseOutline.Create'"></span>
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
