@import "~@universis/theme/scss/bootstrap/variables";

.nav-tabs {
    .nav-link {
        border-radius: 0.5em 0.5em 0 0;
        font-size: 1.25em;

        .active {
            background: #57fe48;
            border-bottom-color: #fcfdfe;

            &:focus {
                background: #ff3eb4;
                border-bottom-color: #fcfdfe;
            }
        }
    }
}

.s--nav-tabs {
    margin-left: -30px;
    margin-right: -30px;
    box-shadow: 0 0 17px 0 rgba(177, 177, 177, 0.5);

    .nav-link {
        padding: 0.875rem 0.875rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        text-align: center;
    }

    .active {
        border-bottom: 3px solid #2500dd;
    }
}
