<div class="m-lg-3 ">
  <h1 [translate]="'Evaluations.TitlePlural'"></h1>
  <p class="mt-3 mb-4 font-weight-normal" [translate]="'Evaluations.SearchDescription'"></p>
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <input type="text" class="form-control input-lg" id="searchText" #searchTextInput
             [attr.placeholder]="'Evaluations.SearchPlaceHolder' | translate" (keyup)="searchText = searchTextInput.value"
             (keyup.enter)="this.getData(searchText, searchTextYear, searchTextPeriod)"/>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 mt-2 mt-md-0 pl-md-0">
      <select class="form-control input-lg" id="searchTextYear" #searchTextYearInput
              (change)="searchTextYear = searchTextYearInput.value;this.getData(searchText, searchTextYear, searchTextPeriod)">
        <option value="" [selected]="true">{{ 'Evaluations.SelectYear' | translate }}</option>
        <option *ngFor="let year of years" [ngValue]="year.year" >{{year?.year}}</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 mt-2 mt-md-0 pl-md-0">
      <select class="form-control input-lg" id="searchTextPeriod" #searchTextPeriodInput
              (change)="searchTextPeriod = searchTextPeriodInput.value;this.getData(searchText, searchTextYear, searchTextPeriod)">
        <option value="" [selected]="true">{{ 'Evaluations.SelectPeriod' | translate }}</option>
        <option *ngFor="let period of periods" value="{{period.period}}" >{{period?.period | translate}}</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 mt-2 mt-md-0 pl-md-0">
      <button class="btn btn-active-color btn-lg px-5" type="button"  (click)="getData(searchText, searchTextYear, searchTextPeriod)">
        <span [translate]="'Evaluations.Search'"></span>
      </button>
    </div>
  </div>
  <!--pre-loading state-->
  <div class="card mb-3 mt-5" *ngIf="isLoading">
    <div class="card-body">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="ph-col-2 ml-3 big"></div>
          <div class="ph-col-2 ml-3 big"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end pre-loading state-->

  <div *ngIf="!isLoading && evaluations &&  evaluations.length > 0">
    <div class="card mb-4 mt-5" *ngFor="let evaluation of evaluations" > <!-- LOOP OF CARDS -->
      <div class="card-body">
        <div class="container-fluid px-3">
          <div class="d-flex justify-content-between">
            <div>
              <div class="row">
                <h5 class="card-title">{{evaluation?.courseClassInstructor.courseClass.course.displayCode}} - {{evaluation?.courseClassInstructor.courseClass.title}}</h5>
              </div>
              <div class="row mt-2">
                <span class="text-secondary mr-3 font-sm">
                  <i class="fa fa-calendar-alt pr-1"></i>
                  {{'Evaluations.StartDate' | translate}} {{evaluation.startDate | date:'short' || '-'}}
                </span>
                <span class="text-secondary mr-3 font-sm">
                  <i class="fa fa-calendar-alt pr-1"></i>
                  {{'Evaluations.EndDate' | translate}} {{evaluation.endDate | date:'short' || '-'}}
                </span>
                <span class="text-secondary mr-3 font-sm">
                  <i class="fa fa-flag pr-1"></i>
                  <span [ngClass]="{'text-primary': evaluation.eventStatus.alternateName ==='EventOpened',
                          'text-danger':evaluation.eventStatus.alternateName ==='EventPostponed' || evaluation.eventStatus.alternateName ==='EventCancelled',
                          'text-warning':evaluation.eventStatus.alternateName ==='EventRescheduled',
                          'text-indigo':evaluation.eventStatus.alternateName ==='EventScheduled',
                          'text-success':evaluation.eventStatus.alternateName ==='EventCompleted'}">
                  {{ 'EventStatusType.' + evaluation.eventStatus.alternateName | translate}}</span>
                </span>
                <span class="text-secondary mr-3 font-sm">
                  <i class="fa fa-calendar pr-1"></i>
                  {{evaluation?.courseClassInstructor.courseClass.period.alternateName | translate}}  {{evaluation?.courseClassInstructor.courseClass.year.alternateName }}
                </span>
                <span class="text-secondary mr-3 font-sm">
                  <i class="fa fa-check-circle pr-1"></i>
                  {{'Evaluations.Results.Title' | translate}} : {{evaluation?.results?.total}} {{'Evaluations.Results.Total' | translate}} / {{evaluation?.results.sent}} {{'Evaluations.Results.Sent' | translate}} / {{evaluation?.results.used}} {{'Evaluations.Results.Used' | translate}}
                </span>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <button class="btn btn-outline-secondary btn-sm btn-block rounded-pill px-5 py-2" type="button" [routerLink]="[evaluation.url]" >
                <span [translate]="'Evaluations.More'"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && evaluations && evaluations.length === 0">
    <div class="row mt-3">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text"  [translate]="'Evaluations.NotFoundPlural'"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
