<div>
  <div class="d-flex d-inline-block justify-content-start align-items-end mb-3">
    <div class="pr-3">
      <h3 class="d-inline" [translate]="'InstructorOutline.Work.Singular'"></h3>
    </div>
    <div class="ml-auto pr-2">
      <button class="btn btn-default text-indigo text-decoration-none px-0 py-0" (click)="addOrEditWork(0)">
        <span>+</span><span>&nbsp;</span><span [translate]="'InstructorOutline.Add'"></span>
      </button>
    </div>
  </div>

  <!--pre-loading state-->
  <div class="card mb-3" *ngIf="isLoading">
    <div class="card-body">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="ml-4 ph-col-4 big"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end pre-loading state-->

  <div *ngIf="!isLoading">
    <!-- groupBy year and order groups in descending order -->
    <div class="card" *ngFor="let workGroup of works | groupBy: 'year' | values | pairs | reverse">
      <div class="card-body">
        <div class="row">

          <!-- table for small display -->
          <div class="col-md-12 d-sm-none">
            <div class="row mt-n2">
              <h5 class="card-title">{{'InstructorOutline.ReferenceYear' | translate}} - {{workGroup[0]?.year}}
                <button type="button" class="btn btn-default pt-0" (click)="deleteWorks(workGroup)">
                  <i class="fa fa-trash text-indigo" aria-hidden="true"></i>
                </button>
              </h5>
            </div>

            <ul class="sis--list-group sis--list-group-header">
              <li class="sis--list-group-item">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="sis--list-group-item_lg_column d-flex flex-row d-flex">{{'InstructorOutline.Work.Singular' | translate}}</div>
                  <div class="sis--list-group-item_sm_column d-block text-center">{{'InstructorOutline.Total' | translate}}</div>
                </div>
              </li>
            </ul>

            <ul class="sis--list-group sis--list-group-body">
              <ng-container *ngFor="let work of workGroup">
                <li class="sis--list-group-item">
                  <div class="justify-content-center align-items-center list-color d-lg-flex">

                    <div class="d-flex justify-content-center align-items-center list-color">
                      <div class="sis--list-group-item_lg_column text-break d-flex flex-row "> {{work.instructorWorkType?.locale?.name || work.instructorWorkType?.name}}</div>
                      <div class="sis--list-group-item_sm_column text-center">{{work.totalWork}}</div>
                    </div>

                    <div class="sis--list-group-item_sm_column col-sm-12 col-lg-2 mt-3 mt-lg-0">
                      <button type="button" class="btn btn-default py-0" (click)="addOrEditWork(work.id)">
                        <i class="far fa-edit text-indigo"></i>
                      </button>
                    </div>
                  </div>
                </li>
              </ng-container>
            </ul>
          </div>
          <!-- end table -->

          <!-- table for > medium display -->
          <div class="col-md-12 d-none d-sm-inline ">
            <div class="row mt-n2">
              <h5 class="card-title">{{'InstructorOutline.ReferenceYear' | translate}} - {{workGroup[0]?.year}}
                <button type="button" class="btn btn-default pt-0" (click)="deleteWorks(workGroup)">
                  <i class="fa fa-trash text-indigo" aria-hidden="true"></i>
                </button>
              </h5>
            </div>

            <ul class="sis--list-group sis--list-group-header">
              <li class="sis--list-group-item">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="sis--list-group-item_lg_column d-flex flex-row">{{'InstructorOutline.Work.Singular' | translate}}</div>
                  <div class="sis--list-group-item_md_column d-md-block text-center">{{'InstructorOutline.Total' | translate}}</div>
                  <div class="sis--list-group-item_md_column d-md-block text-center"></div>
                </div>
              </li>
            </ul>

            <ul class="sis--list-group sis--list-group-body">
              <ng-container *ngFor="let work of workGroup">
                <li class="sis--list-group-item">
                  <div class="d-flex justify-content-center align-items-center list-color">
                    <div class="sis--list-group-item_lg_column d-flex flex-row ">{{work.instructorWorkType?.locale?.name || work.instructorWorkType?.name }}</div>
                    <div class="sis--list-group-item_md_column text-center">{{work.totalWork}}</div>
                    <div class="sis--list-group-item_md_column text-right">
                      <button type="button" class="btn btn-default py-0" (click)="addOrEditWork(work.id)">
                        <i class="far fa-edit text-indigo"></i>
                      </button>
                    </div>
                  </div>
                </li>
              </ng-container>
            </ul>
          </div>
          <!-- end table-->
        </div>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="!isLoading && works.length === 0">
    <div class="info-text m-0 p-4" [translate]="'InstructorOutline.Work.NotFound'"></div>
  </div>

</div>
