<div class="mr-xl-5">
  <div class="d-md-flex d-inline-block justify-content-start align-items-end mb-3">
    <div class="pr-3">
      <h3 class="d-inline" [translate]="'InstructorOutline.Publication.Plural'"></h3>
    </div>
  </div>

  <!--pre-loading state-->
  <div class="card mb-3" *ngIf="isLoading">
    <div class="card-body">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ph-col-2 big"></div>
          <div class="ml-4 ph-col-4 big"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end pre-loading state-->

  <div *ngIf="!isLoading && publications.length > 0">
    <div class="card mb-3">
      <div class="card-body">
        <!-- setup table head-->
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column d-flex flex-row d-flex">{{'InstructorOutline.Publication.Type' | translate}}</div>
              <div class="sis--list-group-item_sm_column d-block text-center">{{'InstructorOutline.Total' | translate}}</div>
            </div>
          </li>
        </ul>
        <!-- setup table body -->
        <ul class="sis--list-group sis--list-group-body mb-5">
          <ng-container *ngFor="let publication of publications">
            <li class="sis--list-group-item">
              <div class="d-flex justify-content-center align-items-center list-color">
                <div class="sis--list-group-item_lg_column text-break d-flex flex-row ">{{publication.publicationType?.locale?.name || publication.publicationType?.name}}</div>
                <div class="sis--list-group-item_sm_column text-center">{{publication.count}}</div>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="!isLoading && publications.length === 0">
    <div class="info-text m-0 p-4" [translate]="'InstructorOutline.Publication.NotFound'"></div>
  </div>

</div>