@import "~@universis/theme/scss/bootstrap/variables";

.details_student_navbar {
    display: flex;
    flex-wrap: wrap;
    padding-top: auto;
    padding-bottom: auto;
    border: 1px solid #C2CFD6;
    border-radius: 6px;
    margin-top: 25px;
    background-color: #F0F3F5;
}
