<div class="mt-4">
  <div class="row">
    <div class="col-12">
      <h5>{{'Evaluations.Results.Title' | translate}}</h5>
    </div>
  </div>
  <ng-container *ngIf="!loading">
    <div class="row" *ngIf="results else noResults;">
      <!-- display info message -->
      <div class="col-12 mt-2 mb-4">
        <div class="alert alert-dismissible alert-info shadow fade show col-12">
          <div [translate]="'Evaluations.Results.Info'"></div>
          <button type="button" class="close mb-1" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- setup table headers -->
        <ul class="sis--list-group sis--list-group-header">
          <li class="sis--list-group-item">
            <div class="d-flex justify-content-center align-items-center">
              <div class="sis--list-group-item_lg_column">{{'Evaluations.Results.Question' | translate}}</div>
              <div class="sis--list-group-item_sm_column d-none d-md-block">{{'Evaluations.Results.Average' | translate}}</div>
              <div class="sis--list-group-item_sm_column">{{'Evaluations.Results.StandardDeviation' | translate}}</div>
            </div>
          </li>
        </ul>
        <!-- setup table body -->
        <ul class="sis--list-group sis--list-group-body">
          <!-- enumerate results and start creating items -->
          <ng-container *ngFor="let distinctLegendItems of results | groupBy: 'legend' | values">
            <!-- bold legend of result (no avg, std)-->
            <li class="sis--list-group-item">
              <div class="d-flex justify-content-center align-items-center list-color">
                <div class="sis--list-group-item_lg_column">
                  <span class="font-weight-bold">{{distinctLegendItems[0].legend}}</span>
                </div>
                <div class="sis--list-group-item_sm_column d-none d-md-block">
                  <span>&nbsp;</span>
                </div>
                <div class="sis--list-group-item_sm_column">
                  <span>&nbsp;</span>
                </div>
              </div>
            </li>
            <!-- enumerate questions and create relevant items -->
            <ng-container *ngFor="let item of distinctLegendItems">
              <!-- if the question is of number type, show title, std and avg -->
              <ng-container *ngIf="item.isNumber">
                <li class="sis--list-group-item">
                  <div class="d-flex justify-content-center align-items-center list-color">
                    <div class="sis--list-group-item_lg_column">
                      <span>{{item.title}}</span>
                    </div>
                    <div class="sis--list-group-item_sm_column d-none d-md-block">
                      <span>{{item.avg}}</span>
                    </div>
                    <div class="sis--list-group-item_sm_column">
                      <span>{{item.std}}</span>
                    </div>
                  </div>
                </li>
              </ng-container>
              <!-- if the question is not of number type, show all relevant responses -->
              <ng-container *ngIf="!item.isNumber">
                <ng-container *ngIf="item.responses && item.responses.length else noResponses;">
                  <li class="sis--list-group-item">
                    <div class="d-flex justify-content-center align-items-center list-color">
                      <div class="sis--list-group-item_lg_column">
                        <div>{{item.title}}</div>
                        <!-- enumerate responses -->
                        <ng-container *ngFor="let response of item.responses; let i = index;">
                          <div class="ml-3 mt-2">
                            <span>{{'Evaluations.Results.Answer' | translate}} {{i+1}}: {{response}}</span>
                          </div>
                        </ng-container>
                      </div>
                      <div class="sis--list-group-item_sm_column d-none d-md-block">
                        <span>&nbsp;</span>
                      </div>
                      <div class="sis--list-group-item_sm_column">
                        <span>&nbsp;</span>
                      </div>
                    </div>
                  </li>
                </ng-container>
                <!-- show no responses message -->
                <ng-template #noResponses>
                  <li class="sis--list-group-item">
                    <div class="d-flex justify-content-center align-items-center list-color">
                      <div class="sis--list-group-item_lg_column">
                        <span>{{'Evaluations.Results.NoResponses' | translate}}</span>
                      </div>
                      <div class="sis--list-group-item_sm_column d-none d-md-block">
                        <span>&nbsp;</span>
                      </div>
                      <div class="sis--list-group-item_sm_column">
                        <span>&nbsp;</span>
                      </div>
                    </div>
                  </li>
                </ng-template>
              </ng-container>
            </ng-container>
          </ng-container>
        </ul>
      </div>
    </div>
    <!-- no results info template -->
    <ng-template #noResults>
      <div class="row">
        <div class="col-12 text-center">
          <div class="mt-4">
            <div class="icon-circle bg-info border-gray-100"></div>
          </div>
          <div class="mt-4">
            <h4 class="font-3xl text-dark" [translate]="'Evaluations.Results.None.Title'"></h4>
            <p class="font-lg text-dark" [translate]="'Evaluations.Results.None.Message'"></p>
          </div>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
